* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

body {
  display: flex;
  overflow: hidden;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.background {
  width: 50%;
  height: 100vh;
  background-color: var(--body-bg-color);
  border: #04D361;
  border-width: 2px;
}


.logo {
  position: relative;
  top: -36px;
  width: 369px;
  height: 94px;
  margin-left: 36px;
}

h1 {
  font: normal 700 34px league spartan, sans-serif;
  color: var(--title-color);
  margin-left: 36px;
}

span {
  font: normal 700 1.2em league spartan, sans-serif;
  color: var(--text-color);
  margin-left: 36px;
}

p {
  font: normal 400 1.2em league spartan, sans-serif;
  color: var(--text-color);
  margin-left: 36px;
}

.section-texto {
  position: relative;
  top: -90px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.section {
  width: 50%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--body-bg-color);
}

label {
  font: normal 700 14px league spartan, sans serif;
  color: var(--text-color);
}

.section-input {
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 698px;
  left: 36px;
  top: -200px;
}

.input {
  
  width: 650px;
  height: 48px;
  
  
  border-width: 0px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: var(--title-color);
  
}

.div-input {
  position: relative;
  margin-top: 12px;
}

.button {
  position: absolute;
  width: 48px;
  height: 48px;
  border: none;
  background-color: var(--bg-button-color);
} 

.link {
  position: relative;
  color: var(--bg-button-color);
  margin-left: 0px;
  margin-top: 50px;
}